.select {
  user-select: none;
  cursor: pointer;
  width: 150px;
  /* height: 35px; */
  transition-duration: 0.2s;
}
.selected-item {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 2px;
  background: var(--extra1,white);
  
}

.selected-item:focus {
  /* background:red; */
  /* border:2px solid var(--warn-dark)  */
}
.select:hover {
  /* transform:scale(1.1) */
}
.select-option {
  padding: 5px;
  /* background: none!important; */
}

.select-option:hover {
  color: var(--secundary);
  background: var(--primary);
}

.container-select-options {
  display: none;
  /* visibility:hidden; */
  position: relative;
  z-index: 5000 !important;
  /* position:fixed; */
  max-height: 500px;
  /* opacity: 0; */
  transition: visibility 0.5s, opacity 0.5s;
  /* overflow:scroll; */
  background: rgba(var(--background-rgb),1);
  box-shadow: 0px 6px 15px -6px black;
}

.active {
  display: block;
}
